Repository cloudposse/terraform-aws-eks-node-group, pull requests merged in 2020-09, with the labels that each got.

#31 Optional Create before destroy. Add Launch Template and related features.
  README.md
  ami.tf
  docs/terraform.md
  examples/complete/fixtures.us-east-2.tfvars
  examples/complete/versions.tf
  main.tf
  outputs.tf
  userdata.tf
  userdata.tpl
  variables.tf
  versions.tf
Labels: enhancement, terraform/0.13

#32 More triggers for replacement, better handling of enabled=false
  README.md
  ami.tf
  docs/terraform.md
  main.tf
  userdata.tf
  variables.tf
Labels: bugfix, terraform/0.13

#30 Fix for remote access and lifecycle issues
  README.md
  docs/terraform.md
  main.tf
  outputs.tf
  sg.tf
  userdata.tf
  variables.tf
Labels: bugfix, terraform/0.13

#33 Refactor for clarity
  README.md
  docs/terraform.md
  iam.tf
  launch-template.tf
  main.tf
  security-group.tf
  variables.tf
Labels: patch, terraform/0.13

#34 Remove autoscaler permissions from worker role
  README.md
  docs/terraform.md
  main.tf
  security-group.tf
  versions.tf
Labels: bugfix, terraform/0.13
