Repository cloudposse/terraform-aws-eks-node-group, pull requests merged in 2020-12, with the labels that each got.

#45 Add `capacity_type` to support node group spot pricing
  .gitattributes
  README.md
  docs/terraform.md
  main.tf
  variables.tf
Labels: terraform/0.13

#46 Terraform 0.14 upgrade
  .github/CODEOWNERS
  .github/auto-release.yml
  .github/mergify.yml
  .github/workflows/auto-context.yml
  .github/workflows/auto-readme.yml
  .github/workflows/auto-release.yml
  .github/workflows/chatops.yml
  .github/workflows/validate-codeowners.yml
  README.md
  README.yaml
  context.tf
  examples/complete/context.tf
  examples/complete/main.tf
  examples/complete/versions.tf
  main.tf
  test/src/Makefile
  versions.tf
Labels: patch

#44 add disk options for ec2 template
  README.md
  docs/terraform.md
  launch-template.tf
  variables.tf
Labels: patch, terraform/0.13
